In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("../data/three_most_abundant-krakenbracken.txt",sep="\t")
df.rename({
    "V2": "species1",
    "V3": "abundancy1",
    "V4": "species2",
    "V5": "abundancy2",
    "V6": "species3",
    "V7": "abundancy3",
}, inplace=True, axis=1)

In [9]:
df.head()

,sample_id,species1,abundancy1,species2,abundancy2,species3,abundancy3
0,SAMD00000344,Lactobacillus hokkaidonensis,99.093,Lactobacillus plantarum,0.159,Lactobacillus amylophilus,0.110
1,SAMD00000345,Xanthomonas euvesicatoria,27.153,Lactobacillus plantarum,18.485,Lactobacillus brevis,3.043
2,SAMD00000355,Streptococcus pyogenes,97.942,Streptococcus agalactiae,0.883,Streptococcus dysgalactiae,0.858
3,SAMD00000550,Corynebacterium glutamicum,93.780,[Brevibacterium] flavum,2.292,Corynebacterium crudilactis,1.066
4,SAMD00000552,Corynebacterium glutamicum,99.951,Kluyveromyces marxianus,0.015,Acetobacter pasteurianus,0.012

In [10]:
df.isnull().sum()

sample_id        0
species1         0
abundancy1       0
species2      1700
abundancy2    1700
species3      3158
abundancy3    3158
dtype: int64